<%- include('components/header') %>

<div class="text-center mt-5">
  <h1 class="display-4">403 - Forbidden</h1>
  <p class="lead"><%= error %></p>
  <a href="/members" class="btn btn-primary mt-3">Return to Member Home</a>
</div>

<%- include('components/footer') %>
