<%- include('components/header') %>
<h2>Log In to Your Account</h2>

<% if (error) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

<form action="/login" method="post" class="mt-3">
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" value="<%= form.email || '' %>" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>
<%- include('components/footer') %>
