<%- include('components/header') %>
<h2>Welcome, <%= name %>!</h2>
<p>Here’s a special image for you:</p>
<div class="row mt-4">
  <% images.forEach(image => { %>
    <div class="col-md-4 mb-3">
      <img src="<%= image %>" class="img-fluid rounded shadow-sm" alt="Member Image">
    </div>
  <% }) %>
</div>

<%- include('components/footer') %>
